<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">
	<div class="header">
		<a href="/" class="logo"></a>
		<a class="button" href="/login">Log in</a>
		<button type="button" class= "button"> Signup </button>
		
	</div>
<%= yield %>
</div>
</body>
</html>