a.logo {
	display: block;
  background: url(../img/logo.png) 0 0 no-repeat;
  height: 140px;
  width: 200px;
  float: left;
}

.button {
float: right;
margin: 10pt;

}

div.wrapper {
  width: 980px;
  margin: 0 auto;
}

div.header {
  padding: 50px;
  margin-bottom: 100px;
  /*border-bottom: 8px solid #000;*/

}

/*div.container {
	width: 780px;
  margin: 0 auto;
}*/

div.topics {
	height:20pt;
	width: 600pt;
	background-color: #034B6D;
	color: white;
	margin: 50pt;
}

div.posts {
	height:40pt;
	width: 600pt;
	background-color: gray;
	margin: 10pt;
}

div.single_post {
	margin: 50pt;
	height:100pt;
	width: 600pt;
	border: 2px solid black;
}

.new_post {
	float: right;
	color: white;
}






